.bg-wrap {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box-wrap {
  width: 960px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-icon {
  text-align: center;
  width: 160px;
  .left-icon-text {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
  }
}

.hourglas-box {
  background: #dadada;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background: #ffeb3b;
  }
  img {
    width: 64px;
    height: 64px;
  }
}

.right-icon {
  width: 800px;
  img {
    width: 100%;
  }
  .img-smll-box {
    width: 500px;
    margin: 30px auto 0;
  }
}

.r180 {
  transform: rotate(-180deg);
}
.r360 {
  transform: rotate(-360deg);
}

.end {
  .hourglas-box {
    background: #ffeb3b;
  }
}
