<div class="bg-wrap">
  <div class="container">
    <div class="box-wrap" *ngIf="!show">
      <div class="left-icon" (click)="rollWrist()">
        <div class="left-icon-text">
          지금부터 잠시 동안<br>
          스트레칭 시작!
        </div>
        <div class="hourglas-box">
          <img src="../assets/img/hourglas.png" class="r180">
        </div>
      </div>
      <div class="right-icon">
        <img src="../assets/img/img_txt_rollYourWrist.png">
        <img src="../assets/img/img_doodle_rollYourWrist.png">
      </div>
    </div>
    <div class="box-wrap" *ngIf="show">
      <div class="left-icon end">
        <div class="left-icon-text">
          끝!!!<br>
          참 잘했어요 :)
        </div>
        <div class="hourglas-box">
          <img src="../assets/img/hourglas.png" class="r360">
        </div>
      </div>
      <div class="right-icon">
        <img src="../assets/img/img_finished.png">
        <div class="img-smll-box">
          <img src="../assets/img/img_txt_rollYourWrist.png">
          <img src="../assets/img/img_doodle_rollYourWrist.png">
        </div>
      </div>
    </div>
  </div>
</div>
