.bg-wrap {
  width: 100%;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box-wrap {
  width: 960px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.left-icon {
  text-align: center;
  width: 160px;
  .left-icon-text {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
  }
}

.hourglas-box {
  background: #dadada;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background: #ffeb3b;
  }
  img {
    width: 64px;
    height: 64px;
  }
}

.right-icon {
  width: 800px;
  img {
    width: 100%;
  }
  .img-smll-box {
    width: 500px;
    margin: 30px auto 0;
  }
}

.r180 {
  transform: rotate(-180deg);
}
.r360 {
  transform: rotate(-360deg);
}
.h-box {
  min-height: 198px;
}

.end {
  .hourglas-box {
    background: #ffeb3b;
  }
}

@media (min-width: 100px) and (max-width: 992px) {
  .box-wrap {
    width: 100%;
    flex-direction: column;
    .right-icon {
      width: 90%;
      .img-smll-box {
        width: 100%;
      }
    }
    .left-icon {
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .h-box {
      min-height: auto;
    }
  }
}

/* only dark mode */
// @media (prefers-color-scheme: dark) {
//   .bg-wrap {
//     color: #ffffff;
//     background: #000000;
//     .box-wrap {
//       .right-icon {
//         img {
//           filter: invert(1);
//         }
//       }
//     }
//   }
// }

/// 클라우드

#clouds {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: #72abff;
  background: -webkit-linear-gradient(top, #72abff 0%, #81c1cb 100%);
  background: -linear-gradient(top, #72abff 0%, rgb#81C1CB 100%);
  background: -moz-linear-gradient(top, #72abff 0%, #81c1cb 100%);
  position: absolute;
  z-index: -9;
}

.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  filter: blur(4px);

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;

  position: relative;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
  box-shadow: 0 -5px 20px #fff;
}

.x1 {
  animation: moveclouds 55s linear infinite;
  -webkit-animation: moveclouds 55s linear infinite;
  -moz-animation: moveclouds 55s linear infinite;
  -o-animation: moveclouds 55s linear infinite;
  opacity: 0.5;
}
.x2 {
  left: 20%;

  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  transform: scale(1.6);
  opacity: 0.3;

  animation: moveclouds 35s linear infinite;
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

.x3 {
  left: -30%;
  top: 200px;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.25;

  animation: moveclouds 30s linear infinite;
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
}

.x4 {
  left: 50%;
  top: 50px;

  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  transform: scale(3);
  opacity: 0.25;

  animation: moveclouds 38s linear infinite;
  -webkit-animation: moveclouds 38s linear infinite;
  -moz-animation: moveclouds 38s linear infinite;
  -o-animation: moveclouds 38s linear infinite;
}

.x5 {
  left: 15%;
  top: -50px;

  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
  opacity: 0.3;

  animation: moveclouds 40s linear infinite;
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}

@-webkit-keyframes rotateLeftMask {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes rotateRightMask {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    visibility: hidden;
  }
  100% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    visibility: hidden;
  }
}
