<div class="bg-wrap">
  <div class="container">
    <div class="box-wrap">
      <div class="left-icon">
        <div *ngIf="!isStart">
          asdfasd
          <div class="radial-timer s-animate">
            <div class="radial-timer-half"></div>
            <div class="radial-timer-half"></div>
          </div>
        </div>
        <!-- <div *ngIf="isDone">
          <div class="left-icon end">
            <div class="left-icon-text">
              끝!!!<br />
              참 잘했어요 :)
            </div>
            <div class="hourglas-box">
              <img src="../assets/img/hourglas.png" class="r360" />
            </div>
          </div>
        </div>
      </div> -->
        <div class="right-icon">
          <div class="h-box" *ngIf="!isDone">
            <img src="../assets/img/img_start.png" />
          </div>
          <div class="h-box" *ngIf="isDone">
            <img src="../assets/img/img_finished.png" />
          </div>
          <div>
            <img src="../assets/img/img_doodle_rollYourWrist.png" />
          </div>
        </div>
        <app-count-down (doneEvent)="done($event)"></app-count-down>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
