<div class="bg-wrap">
  <div class="container">
    <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>
    <div class="left-icon">
      <app-rainbow-timer *ngIf="this.isRunning"></app-rainbow-timer>
    </div>
    <div class="box-wrap">
      <div class="right-icon">
        <div class="h-box textmotion1" *ngIf="!isDone">
          <img src="../assets/img/img_start.png" />
        </div>
        <div class="h-box textmotion1" *ngIf="isDone">
          <img src="../assets/img/img_finished.png" />
        </div>

        <div class="charactermotion1">
          <img src="../assets/img/img_doodle_rollYourWrist.png" />
        </div>
      </div>

      <app-count-down
        (doneEvent)="done($event)"
        (startEvent)="start($event)"
      ></app-count-down>
    </div>
    away from keyboard !
  </div>

  <router-outlet></router-outlet>
</div>
