#clouds {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: #72abff;
  background: -webkit-linear-gradient(top, #72abff 0%, #81c1cb 100%);
  background: -linear-gradient(top, #72abff 0%, rgb#81C1CB 100%);
  background: -moz-linear-gradient(top, #72abff 0%, #81c1cb 100%);
  position: absolute;
  z-index: -9;
}

.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  filter: blur(4px);

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;

  position: relative;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
  box-shadow: 0 -5px 20px #fff;
}

.x1 {
  animation: moveclouds 55s linear infinite;
  -webkit-animation: moveclouds 55s linear infinite;
  -moz-animation: moveclouds 55s linear infinite;
  -o-animation: moveclouds 55s linear infinite;
  opacity: 0.5;
}
.x2 {
  left: 20%;

  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  transform: scale(1.6);
  opacity: 0.3;

  animation: moveclouds 35s linear infinite;
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite;
}

.x3 {
  left: -30%;
  top: 200px;

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.25;

  animation: moveclouds 30s linear infinite;
  -webkit-animation: moveclouds 30s linear infinite;
  -moz-animation: moveclouds 30s linear infinite;
  -o-animation: moveclouds 30s linear infinite;
}

.x4 {
  left: 50%;
  top: 50px;

  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  transform: scale(3);
  opacity: 0.25;

  animation: moveclouds 38s linear infinite;
  -webkit-animation: moveclouds 38s linear infinite;
  -moz-animation: moveclouds 38s linear infinite;
  -o-animation: moveclouds 38s linear infinite;
}

.x5 {
  left: 15%;
  top: -50px;

  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2);
  opacity: 0.3;

  animation: moveclouds 40s linear infinite;
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
